<%= form_for(@employee_commitment) do |f| %>
  <% if @employee_commitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_commitment.errors.count, "error") %> prohibited this employee_commitment from being saved:</h2>

      <ul>
      <% @employee_commitment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
