<h1>Listing employee_commitments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employee_commitments.each do |employee_commitment| %>
  <tr>
    <td><%= link_to 'Show', employee_commitment %></td>
    <td><%= link_to 'Edit', edit_employee_commitment_path(employee_commitment) %></td>
    <td><%= link_to 'Destroy', employee_commitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee commitment', new_employee_commitment_path %>
